[submodule ".zsh/zsh-autocomplete"]
	path = .zsh/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
